/* .color1 {color: #ffba3e;}
.color2 {color: #fdfa40;}
.color3 {color: #2d1600;}
.color4 {color: #7b7672;}
.color5 {color: #e2e2e2;} */

:root {
    --laranja-claro:#ffba3e;
    --amarelo:#fdfa40;
    --preto-medio: #2d1600;
    --cinza: #7b7672;
    --cinza-claro: #F7F4F4;
    --branco-medio : #e2e2e2;
    --branco : #FFF;

    
    --opens-sans: 'Open Sans', sans-serif;
    --montserrat: 'Montserrat', sans-serif;
}
.container{
    color: var(--branco-medio);
    padding-left: 6%;
    padding-right: 6%;
}
.botao{
    background-color: var(--branco);
    color: var(--preto-medio);

    border: 1px solid var(--laranja-claro);

    font-family: var(--montserrat);
    font-size: 1.4rem;
    font-weight: 500;

    text-align: center;

    padding: 3% 3%;
}