.diferenciais{
    background-color: var(--laranja-claro);
    font-family: var(--open-sans);
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
    color: var(--preto-medio);
}
.diferenciais__titulo{
    font-size: 2.5rem;
    font-weight: 700; 
    
}

.diferenciais__item-titulo{
    font-size: 2rem;
    font-weight: 400;
    padding-top: 8%;
}
.diferenciais__item-conteudo{
    margin-top: 1%;
    font-size: 1.3rem;
    font-weight: 300;
    color: var(--preto-medio);
    text-align: center;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
}

@media screen and (min-width:768px) {
    .diferenciais__lista{
        display: flex;
        flex-wrap:wrap;
        flex-direction: row;
        justify-content: space-between;
    }
    .diferenciais__item{
        width: 40%;
         
    }
    .diferenciais__item-conteudo{
        padding-top: 3%;
        text-align: justify;
        border-left: 0px solid #000000;
        border-right: 0px solid #000000;
        line-height: 1.3;
    }

}
