.produtos{
    align-items: center;
    text-align: center;
    font-family: var(--open-sans);

    background-color: var(--branco);

    margin: 6% 0;
    
}
.produtos__titulo{
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
    color: var(--cinza);
    
}
.cartao{
    border-radius: 5px;
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 5px 5px 10px 0px #00000010;
    margin: 3% 0;
}
.cartao__conteudo{
    padding: 5% 0;
    max-width: 350px;
}
.cartao__nome{
    color: var(--preto-medio);
    font-family: var(--open-sans);
    font-size: 1.3rem;
    font-weight: 700;
    text-align: center;
    margin: 0 5%;
}
.produtos__vinhos{
    margin-bottom: 10%;
}
.cartao__valor{
    color: var(--preto-medio);
    font-family: var(--open-sans);
    font-size: 1.3rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 3%;
}
.cartao__localidade, .cartao__tipo,.cartao__uva{
    color: var(--preto-medio);
    font-family: var(--open-sans);
    font-size: 1.3rem;
    font-weight: 400;
    text-align: left;
}
.botao__adicionar{
    background-color: var(--laranja-claro);
    color: var(--preto-medio);

    border: 1px solid var(--laranja-claro);
    border-radius: 15%;

    font-family: var(--montserrat);
    font-size: 1.3rem;
    font-weight: 700;

    text-align: center;
    padding: 0 3%;
}
.botao{
    background-color: var(--branco);
    color: var(--preto-medio);

    border: 1px solid var(--laranja-claro);

    font-family: var(--montserrat);
    font-size: 1.4rem;
    font-weight: 500;

    text-align: center;
    margin-top: 3%;
    padding: 3% 3%;
}
.hidden{
    display: none;
}
@media screen and (min-width:768px) {
    .hidden{
        display: block;
    }
    .cartao{
        width: 40%;
    }
    .produtos__vinhos{
    
        display: flex;
        flex-wrap:wrap;
        flex-direction: row;
        justify-content: space-between;
    }
    .produtos__vinho-imagem{
        max-width: 250px;
    }
}