.sobre{
    background-color: var(--laranja-claro);
    font-family: var(--open-sans);
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
    color: var(--preto-medio);
}
.sobre__titulo{
    font-size: 2.5rem;
    font-weight: 700;  
}
.sobre__conteudo{
    color: var(--preto-medio);
    padding-top: 3%;
    padding-bottom: 3%;
    font-size: 1.3rem;
    font-weight: 300;
    text-align: justify;
    line-height: 1.3;
}
.hidden-sobre{
    display: none;
}
@media screen and (min-width:1024px){
    .sobre__conteudo{
        font-size: 1.5rem;
    }
    .sobre__extra{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
  
    .sobre__video{
        position: relative;
        display: block;
    }
    .sobre__imagem{
        width: 40%;
        display: block;
        max-width: 365px;
    }
}